<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="s1" class="org.yash.domain.Student" scope="prototype">
        <property name="id" value="121"/>
        <property name="name" value="gaurav"/>
        <property name="address" value="pune"/>
    </bean>

   <!-- <bean id="s2" class="org.yash.domain.Student" scope="singleton">
       <constructor-arg value="122"/>
        <constructor-arg value="kamra"/>
        <constructor-arg value="Indore"/>
    </bean>-->

    <bean id="address" class="org.yash.domain.Address" >
        <property name="city" value="Pune"/>
        <property name="country" value="India"/>
    </bean>


</beans>